# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.chat_message import ChatMessage
from ..types.chat_stream_event import ChatStreamEvent
from ..types.document_ask_stream_event import DocumentAskStreamEvent
from ..types.models_response import ModelsResponse
from ..types.rag_search import RagSearch
from ..types.rag_stream_event import RagStreamEvent
from .raw_client import AsyncRawInferenceClient, RawInferenceClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class InferenceClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawInferenceClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawInferenceClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawInferenceClient
        """
        return self._raw_client

    def list_inference_models(self, *, request_options: typing.Optional[RequestOptions] = None) -> ModelsResponse:
        """
        Returns every inference model available to you, including each model's context window, the plan tiers it's available on, and the exact credit rates charged per 1K input and output tokens. Use this to populate model pickers and to validate a request before calling `/v1/chat`, `/v1/rag`, or `/v1/documents/{id}/ask`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ModelsResponse
            The catalog of available inference models, with the default model alias.

        Examples
        --------
        from vectros import VectrosApi

        client = VectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.inference.list_inference_models()
        """
        _response = self._raw_client.list_inference_models(request_options=request_options)
        return _response.data

    def chat_inference(
        self,
        *,
        messages: typing.Sequence[ChatMessage],
        model: typing.Optional[str] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        allow_global_region: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[ChatStreamEvent]:
        """
        Streams a model response as Server-Sent Events (SSE). Send the full conversation history in the `messages` array; a message with role `system` is extracted and used as the system prompt. Token cost is debited from your pre-paid inference balance (in cents), and a small per-call flat fee is debited from your monthly platform credit allowance. Requires the `inference:r` scope.

        Parameters
        ----------
        messages : typing.Sequence[ChatMessage]
            The conversation history, in order. A message with role `system` is extracted and used as the system prompt; `user` and `assistant` messages are sent to the model as conversation turns.

        model : typing.Optional[str]
            Model alias to use, from the list returned by `GET /v1/models`. Defaults to `claude-haiku-4-5`.

        max_tokens : typing.Optional[int]
            Maximum number of tokens to generate. Defaults to 2048; the maximum is 8192.

        temperature : typing.Optional[float]
            Sampling temperature, between 0.0 and 1.0. Higher values produce more varied output. Defaults to 0.7.

        top_p : typing.Optional[float]
            Top-p (nucleus) sampling. Ignored when `temperature` is greater than 0.

        allow_global_region : typing.Optional[bool]
            Opt this request into global (non-US) region serving for lower cost. Requires a signed global-processing waiver on your account that permits per-request override; otherwise the request is rejected with 403. When omitted, the request follows your account's default residency setting. Configure data residency under Data Residency and Region settings in the developer portal.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.Iterator[ChatStreamEvent]
            Server-Sent Events stream of `content_delta` chunks followed by a terminal `done` event.

        Examples
        --------
        from vectros import ChatMessage, VectrosApi

        client = VectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        response = client.inference.chat_inference(
            messages=[
                ChatMessage(
                    role="system",
                    content="content",
                )
            ],
        )
        for chunk in response:
            yield chunk
        """
        with self._raw_client.chat_inference(
            messages=messages,
            model=model,
            max_tokens=max_tokens,
            temperature=temperature,
            top_p=top_p,
            allow_global_region=allow_global_region,
            request_options=request_options,
        ) as r:
            yield from r.data

    def document_ask(
        self,
        id: str,
        *,
        prompt: str,
        instructions: typing.Optional[str] = OMIT,
        model: typing.Optional[str] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        allow_global_region: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[DocumentAskStreamEvent]:
        """
        Loads a single document's extracted text, supplies it as context, and streams a model answer about it. The document must be fully indexed. If the document exceeds the 32K-token cap, the call returns 413 with no credits charged — use `POST /v1/rag` instead to answer over larger or multi-document collections. Requires the `inference:r` scope.

        Parameters
        ----------
        id : str

        prompt : str
            The question or instruction to answer about the document.

        instructions : typing.Optional[str]
            Optional system prompt that overrides the default. Defaults to a generic instruction to act as a helpful document analyst.

        model : typing.Optional[str]
            Model alias to use, from the list returned by `GET /v1/models`. Defaults to `claude-haiku-4-5`.

        max_tokens : typing.Optional[int]
            Maximum number of tokens to generate. Defaults to 2048; the maximum is 8192.

        temperature : typing.Optional[float]
            Sampling temperature. Defaults to 0.2.

        allow_global_region : typing.Optional[bool]
            Opt this request into global (non-US) region serving for lower cost. Requires a signed global-processing waiver on your account that permits per-request override; otherwise the request is rejected with 403. When omitted, the request follows your account's default residency setting.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.Iterator[DocumentAskStreamEvent]
            Server-Sent Events stream in this order: a `document_context` event, one or more `content_delta` chunks, then a terminal `done` event.

        Examples
        --------
        from vectros import VectrosApi

        client = VectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        response = client.inference.document_ask(
            id="id",
            prompt="prompt",
        )
        for chunk in response:
            yield chunk
        """
        with self._raw_client.document_ask(
            id,
            prompt=prompt,
            instructions=instructions,
            model=model,
            max_tokens=max_tokens,
            temperature=temperature,
            allow_global_region=allow_global_region,
            request_options=request_options,
        ) as r:
            yield from r.data

    def rag_inference(
        self,
        *,
        query: str,
        instructions: typing.Optional[str] = OMIT,
        model: typing.Optional[str] = OMIT,
        search: typing.Optional[RagSearch] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        allow_global_region: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[RagStreamEvent]:
        """
        Runs hybrid search over your indexed content, then streams a model answer grounded in the top results. The SSE stream emits a `search_results` event first (carrying the matched results and their metadata), an optional `truncation_warning` if lower-scoring results were dropped to fit the model's context window, then `content_delta` chunks, and finally a terminal `done` event. Requires the `inference:r` scope.

        Parameters
        ----------
        query : str
            The natural-language question to answer over your indexed content.

        instructions : typing.Optional[str]
            Optional system prompt that overrides the default. Defaults to a generic instruction to answer using only the provided context.

        model : typing.Optional[str]
            Model alias to use, from the list returned by `GET /v1/models`. Defaults to `claude-haiku-4-5`.

        search : typing.Optional[RagSearch]

        max_tokens : typing.Optional[int]
            Maximum number of tokens to generate. Defaults to 1024; the maximum is 4096.

        temperature : typing.Optional[float]
            Sampling temperature. Defaults to 0.3, favoring more deterministic, retrieval-grounded answers.

        allow_global_region : typing.Optional[bool]
            Opt this request into global (non-US) region serving for lower cost. Requires a signed global-processing waiver on your account that permits per-request override; otherwise the request is rejected with 403. When omitted, the request follows your account's default residency setting.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.Iterator[RagStreamEvent]
            Server-Sent Events stream in this order: a `search_results` event, an optional `truncation_warning`, one or more `content_delta` chunks, then a terminal `done` event.

        Examples
        --------
        from vectros import VectrosApi

        client = VectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        response = client.inference.rag_inference(
            query="query",
        )
        for chunk in response:
            yield chunk
        """
        with self._raw_client.rag_inference(
            query=query,
            instructions=instructions,
            model=model,
            search=search,
            max_tokens=max_tokens,
            temperature=temperature,
            allow_global_region=allow_global_region,
            request_options=request_options,
        ) as r:
            yield from r.data


class AsyncInferenceClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawInferenceClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawInferenceClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawInferenceClient
        """
        return self._raw_client

    async def list_inference_models(self, *, request_options: typing.Optional[RequestOptions] = None) -> ModelsResponse:
        """
        Returns every inference model available to you, including each model's context window, the plan tiers it's available on, and the exact credit rates charged per 1K input and output tokens. Use this to populate model pickers and to validate a request before calling `/v1/chat`, `/v1/rag`, or `/v1/documents/{id}/ask`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ModelsResponse
            The catalog of available inference models, with the default model alias.

        Examples
        --------
        import asyncio

        from vectros import AsyncVectrosApi

        client = AsyncVectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.inference.list_inference_models()


        asyncio.run(main())
        """
        _response = await self._raw_client.list_inference_models(request_options=request_options)
        return _response.data

    async def chat_inference(
        self,
        *,
        messages: typing.Sequence[ChatMessage],
        model: typing.Optional[str] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        allow_global_region: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[ChatStreamEvent]:
        """
        Streams a model response as Server-Sent Events (SSE). Send the full conversation history in the `messages` array; a message with role `system` is extracted and used as the system prompt. Token cost is debited from your pre-paid inference balance (in cents), and a small per-call flat fee is debited from your monthly platform credit allowance. Requires the `inference:r` scope.

        Parameters
        ----------
        messages : typing.Sequence[ChatMessage]
            The conversation history, in order. A message with role `system` is extracted and used as the system prompt; `user` and `assistant` messages are sent to the model as conversation turns.

        model : typing.Optional[str]
            Model alias to use, from the list returned by `GET /v1/models`. Defaults to `claude-haiku-4-5`.

        max_tokens : typing.Optional[int]
            Maximum number of tokens to generate. Defaults to 2048; the maximum is 8192.

        temperature : typing.Optional[float]
            Sampling temperature, between 0.0 and 1.0. Higher values produce more varied output. Defaults to 0.7.

        top_p : typing.Optional[float]
            Top-p (nucleus) sampling. Ignored when `temperature` is greater than 0.

        allow_global_region : typing.Optional[bool]
            Opt this request into global (non-US) region serving for lower cost. Requires a signed global-processing waiver on your account that permits per-request override; otherwise the request is rejected with 403. When omitted, the request follows your account's default residency setting. Configure data residency under Data Residency and Region settings in the developer portal.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.AsyncIterator[ChatStreamEvent]
            Server-Sent Events stream of `content_delta` chunks followed by a terminal `done` event.

        Examples
        --------
        import asyncio

        from vectros import AsyncVectrosApi, ChatMessage

        client = AsyncVectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            response = await client.inference.chat_inference(
                messages=[
                    ChatMessage(
                        role="system",
                        content="content",
                    )
                ],
            )
            async for chunk in response:
                yield chunk


        asyncio.run(main())
        """
        async with self._raw_client.chat_inference(
            messages=messages,
            model=model,
            max_tokens=max_tokens,
            temperature=temperature,
            top_p=top_p,
            allow_global_region=allow_global_region,
            request_options=request_options,
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def document_ask(
        self,
        id: str,
        *,
        prompt: str,
        instructions: typing.Optional[str] = OMIT,
        model: typing.Optional[str] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        allow_global_region: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[DocumentAskStreamEvent]:
        """
        Loads a single document's extracted text, supplies it as context, and streams a model answer about it. The document must be fully indexed. If the document exceeds the 32K-token cap, the call returns 413 with no credits charged — use `POST /v1/rag` instead to answer over larger or multi-document collections. Requires the `inference:r` scope.

        Parameters
        ----------
        id : str

        prompt : str
            The question or instruction to answer about the document.

        instructions : typing.Optional[str]
            Optional system prompt that overrides the default. Defaults to a generic instruction to act as a helpful document analyst.

        model : typing.Optional[str]
            Model alias to use, from the list returned by `GET /v1/models`. Defaults to `claude-haiku-4-5`.

        max_tokens : typing.Optional[int]
            Maximum number of tokens to generate. Defaults to 2048; the maximum is 8192.

        temperature : typing.Optional[float]
            Sampling temperature. Defaults to 0.2.

        allow_global_region : typing.Optional[bool]
            Opt this request into global (non-US) region serving for lower cost. Requires a signed global-processing waiver on your account that permits per-request override; otherwise the request is rejected with 403. When omitted, the request follows your account's default residency setting.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.AsyncIterator[DocumentAskStreamEvent]
            Server-Sent Events stream in this order: a `document_context` event, one or more `content_delta` chunks, then a terminal `done` event.

        Examples
        --------
        import asyncio

        from vectros import AsyncVectrosApi

        client = AsyncVectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            response = await client.inference.document_ask(
                id="id",
                prompt="prompt",
            )
            async for chunk in response:
                yield chunk


        asyncio.run(main())
        """
        async with self._raw_client.document_ask(
            id,
            prompt=prompt,
            instructions=instructions,
            model=model,
            max_tokens=max_tokens,
            temperature=temperature,
            allow_global_region=allow_global_region,
            request_options=request_options,
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def rag_inference(
        self,
        *,
        query: str,
        instructions: typing.Optional[str] = OMIT,
        model: typing.Optional[str] = OMIT,
        search: typing.Optional[RagSearch] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        allow_global_region: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[RagStreamEvent]:
        """
        Runs hybrid search over your indexed content, then streams a model answer grounded in the top results. The SSE stream emits a `search_results` event first (carrying the matched results and their metadata), an optional `truncation_warning` if lower-scoring results were dropped to fit the model's context window, then `content_delta` chunks, and finally a terminal `done` event. Requires the `inference:r` scope.

        Parameters
        ----------
        query : str
            The natural-language question to answer over your indexed content.

        instructions : typing.Optional[str]
            Optional system prompt that overrides the default. Defaults to a generic instruction to answer using only the provided context.

        model : typing.Optional[str]
            Model alias to use, from the list returned by `GET /v1/models`. Defaults to `claude-haiku-4-5`.

        search : typing.Optional[RagSearch]

        max_tokens : typing.Optional[int]
            Maximum number of tokens to generate. Defaults to 1024; the maximum is 4096.

        temperature : typing.Optional[float]
            Sampling temperature. Defaults to 0.3, favoring more deterministic, retrieval-grounded answers.

        allow_global_region : typing.Optional[bool]
            Opt this request into global (non-US) region serving for lower cost. Requires a signed global-processing waiver on your account that permits per-request override; otherwise the request is rejected with 403. When omitted, the request follows your account's default residency setting.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.AsyncIterator[RagStreamEvent]
            Server-Sent Events stream in this order: a `search_results` event, an optional `truncation_warning`, one or more `content_delta` chunks, then a terminal `done` event.

        Examples
        --------
        import asyncio

        from vectros import AsyncVectrosApi

        client = AsyncVectrosApi(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            response = await client.inference.rag_inference(
                query="query",
            )
            async for chunk in response:
                yield chunk


        asyncio.run(main())
        """
        async with self._raw_client.rag_inference(
            query=query,
            instructions=instructions,
            model=model,
            search=search,
            max_tokens=max_tokens,
            temperature=temperature,
            allow_global_region=allow_global_region,
            request_options=request_options,
        ) as r:
            async for _chunk in r.data:
                yield _chunk
